a {
    color: #242424;
}

.important {
    color: #a5b4fc;
}

.header {
    background-color: white;
    color: black;
}

.body {
    background-color: #1F2039;
}

.body, h2, p, ul {
      color: #F9F8FF;  
}

.portfolio {
    background-color: #a5b4fc;
}

.footer {
    background-color: white;
}



