a:hover {
    color: brown;
 }   
    
body {
    padding: 0;
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Helvetica,system-ui, apple-system, sans-serif
}
.header {
    position: relative;
    background: cadetblue;
    padding: 20px;
    height: auto;
    
}
.header-title {
    color: rgb(148, 246, 20);
    font-size: 40px;
    font-weight: 650;
    text-align: center;


}
.history{
    background: rgb(104, 171, 153);
    margin: 5px 0 0 0;
    padding: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    font-family: 'roboto,Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.header-img {
    margin: 10px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 120%;
    
}
.header-nav  {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    margin: 20px 0;
    text-align: center;
    background: lightcoral;
}
.header-nav a:hover {
    text-decoration: underline;
}

.title-history  {
    color: rgb(111, 47, 1);
    letter-spacing: 0.2px;
}
.history-p {
    
    font-size: 18px;
    font-weight: 350;
    line-height: 1.6;
    letter-spacing: 1px;
    
}
#service {
    background-color: cadetblue;
    padding: 20px;
    margin: 5px 0 0 0;
    box-sizing: content-box;
    width: 97.7%;
    border: 2px solid #000;
    /* travail le tableau */
    table-layout: fixed;
}

.footer-adresse {
    background: rgb(142, 240, 239,5);
   
    margin: 5px 0 0 0;
    text-align: center;
}
.submit {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }