a:hover {
    color: brown;
 }   
    
body {
    padding: 0;
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Helvetica,system-ui, apple-system, sans-serif
}
.header {
    position: relative;
    background:rgb(30, 111, 241);
    padding: 20px;
    height: auto;
}
.header-title {
    color: rgb(148, 246, 20);
    font-size: 40px;
    font-weight: 650;
    text-align: center;
}
.header-img {
    margin: 10px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 120%;
}
.header-nav  {
    margin: 20px 0;
    text-align: center;
    background: rgb(240, 128, 128,02);
}
.header-nav a:hover {
    background-color: rgb(20, 17, 241,1);
    text-decoration: underline;
}
.history{
    background: rgb(104, 171, 153);
    margin: 5px 0 0 0;
    padding: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    font-family: 'roboto,Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;    
    position: relative;
}
.history iframe{
    width: 25%;
    height: 450px;
}
.history-p {
    
    font-size: 18px;
    font-weight: 350;
    line-height: 1.6;
    letter-spacing: 1px;
}
.title-history  {
    color: rgb(111, 47, 1);
    letter-spacing: 0.2px;
}

#service {
    background-color: cadetblue;
    padding: 20px;
    margin: 5px 0 0 0;
    box-sizing: content-box;
    width: 97.7%;
    border: 2px solid #000;
    /* travail le tableau */
    table-layout: fixed;
}
#nos-realisations{
    margin: 5px;
    background-color: aqua;
    text-align: center;
}
#nos-realisations .nos-realisations-images{
    padding: 10px 1px;
    width: 20%;
    height: 20%;
    align-items: center;
    vertical-align: middle;
    }
.footer-adresse {
    background: rgb(142, 240, 239,5);
    margin: 5px;
    text-align: center;
}
.button{
    color: aliceblue;
    background: mediumslateblue;
    text-decoration: none;
    font-size: 20px;
    padding: 0.2em 0.5em;
}
.submit {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    
  }