#poney{
    background-color: black;
}

#poney h4{
    font-size: 25px;
    color: blue;
}

#poney h2{
    font-size: 45px;
    color: aqua;
}

#poney p strong{
    font-size: 78px;
    color: brown;
}

