* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: rgba(0, 0 ,0 ,.85);
    font-family: sans-serif;
    line-height: 1.8;
    margin: 0;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    padding: 31px 87px;
}

.topbar nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.topbar nav a {
    color: grey;
    text-decoration: none;
    font-weight: 500;
    margin: 0 53px;
}

.topbar nav a:hover, .topbar nav a.active {
    color: black;
    text-decoration: underline;
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social a {
    padding: 12px;
    opacity: 0.7;
}

.social a:hover {
    opacity: 1;
}

.banniere {
    height: 47vh;
    background: no-repeat center center / cover url("img/image\ font\ header.jpg")
}

.main {
    float: left;
    background: grey;
    width: calc(100% - 330px);
}

.sidebar {
    float: right;
    background: lightgray;
    width: 330px;
    padding: 50px;
}

.sidebar-title {
    font-size: 30px;
    color: black;
    margin: 35px 0 ;
}

.sidebar-title:first-child {
    margin-top: 0;
}

.sidebar a {
    color: rgb(147, 141, 141);
    text-decoration: none;
    opacity: 0.8;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2.3;
}

.sidebar a:hover {
    text-decoration: underline;
    opacity: 1;
}

.article {
    overflow: hidden;
    margin: 15px;
}

.article a {
    margin: 10px;
    width: auto;
    height: auto;
    display: block;
    flex-direction: column;
}

.footer {
    clear: both;
}
